.swiper-containers {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-paginations {
  text-align: center;
}

.swiper-containerz {
  width: 100%;
  height: 100%;
}

.swiper-containerz .swiper-slide {
  width: 100px;
  height: 100px;
}

.site-mobile,#img-mobile {
  display: none;
}
html,body{
  scroll-behavior: smooth;
}
@media only screen and (max-width: 992px) {
  .site-header {
    display: block !important;
    height:75px !important;
  }
  #img-mobile{
    display: block;
  }
  .banner{
    margin-top: -50px;
  }
  .site-mobile {
    display: block;
    position: fixed;
    height: 65px;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #7052fb;
    overflow: auto;
  }
  

  .site-mobile a {
    width: 100%;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .site-mobile active {
    background-color: #4CAF50;
  }
  #footer{
    margin-bottom: 65px;
  }
}
